<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="fileCar" value="D:\GitRepository\SharpProjectAndTestNETTechnologe\Testing Technology\WCF\test11_IExtensibleDataObject\CarService\cars.xml"/>
  </appSettings>
<system.serviceModel>
    <services>
      <service name="CarService.CarService">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
       
  </system.serviceModel>


</configuration>