<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOneWayService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:45507/OneWayService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOneWayService" contract="OneWayService.IOneWayService"
                name="NetTcpBinding_IOneWayService">
                <identity>
                    <userPrincipalName value="Dante\Dante_L_Levi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>